<div class="container">
  <div class="row" color="red">
    <div class="col-sm">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#view-task">View Task</button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#update-status">Update Status</button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#speak-with-manager">Speak With Manager</button>
    </div>
  </div>
</div>


