<div class="container">
    <h2>Employee Login</h2>
    <form action="/loginEmployee" method="POST">
        <div>
            <h1>Promanage</h1>
            <div>
            <label for = "username">Username</label>
            <input type="username" id = "username" name = "username" required>
            <br>
            <label for = "password">Password</label>
            <input type = "password" id = "password" name = "password" required>
            <br>
        </div>
        <button type="submit">
            Login
        </button>
        <p>Don't have an Account?<a class = "nav-link" href = "/registerEmployee" style = "color:blue;"> register </a></p>
        </div>
    </form>
</div>