<title>Register</title>

<style>
  .container { display: flex; /* This makes it a flex container */
  justify-content: center; /* This centers the items horizontally */ flex-wrap:
  wrap; /* This allows items to wrap onto the next line as needed */ } .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s; border-radius: 5px;
  /* 5px rounded corners */ margin: 10px; /* Adds some space between the cards
  */ } img { border-radius: 5px 5px 0 0; /* Rounded corners for the top of img
  */ max-width: 100%; /* Makes image responsive */ }
</style>

<div class="container">
  <a href="/registerEmployee">
    <div class="card">
      <img src="./images/employees.png" style="max-width: 450px;" />
      <div class="container">
        <h3><b>Employee</b></h3>
      </div>
    </div>
  </a>
  <a href="/registerManager">
    <div class="card">
      <img src="./images/shield.png" alt="Manager" style="max-width: 450px;" />
      <div class="container">
        <h3><b>Manager</b></h3>
      </div>
    </div>
  </a>
</div>