<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid justify-content-start">
    <a class="navbar-brand" href="/">ProManage</a>
    <a class="navbar-text me-auto px-6" href="/tasks">Tasks</a>
    {{! Register/signin needs to depend on if user is signed in }}
    <a class="navbar-text px-6" href="/register">Register</a>
    <a class="navbar-text px-6" href="/login">Login</a>
  </div>
</nav>