<nav class="navbar navbar-dark bg-dark sticky-top">
  <div class="container-fluid d-flex">
    <a class="navbar-brand me-auto" href="/home">ProManage</a>
    <div class="ml-auto">
      <a class="navbar-text px-2" href="/tasks">Tasks</a>
      <!-- Add Handlebars conditional statements here -->
      {{#if session.user}}
        {{#if session.user.manager}}
          <a class="navbar-text px-2" href="/managerTasks">Manager Tasks</a>
        {{else}}
          <a class="navbar-text px-2" href="/employeeTasks">Employee Tasks</a>
        {{/if}}
        <a class="navbar-text px-2" href="/logout">Logout</a>
      {{else}}
        <a class="navbar-text px-2" href="/register">Register</a>
        <a class="navbar-text px-2" href="/login">Login</a>
      {{/if}}
    </div>
  </div>
</nav>
