<nav class="navbar navbar-dark bg-dark sticky-top">
  <div class="container-fluid justify-content-start">
    <a class="navbar-brand" href="/">ProManage</a>
    <a class="navbar-text px-12 me-auto" href="/tasks">Tasks</a>
    {{! Register/signin needs to depend on if user is signed in }}
    <a class="navbar-text px-12" href="/register">Register</a>
    <a class="navbar-text px-12" href="/login">Login</a>
  </div>
</nav>